<div class="m-header" style="background-color: #80D0C7;">
  <a (click)="returnToHome()" class="b-brand">
    <!-- ========   change your logo hear   ============ -->
    <img src="assets/images/logos/logo.png" alt="darkMode-logo" class="logo" 
    style="height: 4rem;"/>
  </a>
  <!-- ======= Menu collapse Icon ===== -->
  <div class="pc-h-item">
    <a
      href="javascript:"
      class="pc-head-link head-link-secondary m-0 mobile-menu"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
      title="Click to Menu Collapse"
    >
      <i class="ti ti-menu-2"></i>
    </a>
  </div>
</div>

